//
// Layouts
// --------------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

// Fluid layouts fsdf(left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-right: @gridGutterWidth;
  padding-left: @gridGutterWidth;
  .clearfix();
}

// Esto es para separar la navbar del contenido y evitar que se solape
.container-content{
 margin-top: @navbarHeight;
}

footer a{
  text-decoration: none;
}


/*
@heightFooter: 18em;

html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: @heightFooter;
 margin-top: -@heightFooter;
 background:#cccccc;
 padding-top: 30px;
}



#content { padding-bottom: @heightFooter; }

#banner {
		margin-left:auto;
		margin-right:auto;
		width:50%;
	}
	*/

	
	        html, body {
            height: 100%;
        }
        footer {
            color: #646464;
            background: #cccccc;
            padding: 17px 0 18px 0;
            border-top: 1px solid #BDBDBD;    
        }
        footer a {
            color: #646464;
        }
        footer a:hover {
            color: @azulito;
            text-decoration: none;
            background-color: transparent;
        }
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
        }
        .push {
            height: 10em
        }
        /* not required for sticky footer; just pushes hero down a bit */
        .wrapper > .container {
            padding-top: 60px;
        }
 
        /* responsive footer fix by Aalaap Ghag */
        @media (max-width: 767px) {
            body {
                padding-right: 0px;
                padding-left: 0px;
            }
    
            footer, .wrapper {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
 
        /* end responsive footer fix */
